* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  background-color: white;
  color: black;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--text-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}

main {
  margin: auto;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  width: 60%;
}

@media only screen and (max-width: 600px) {
  main {
    margin: auto;
    width: 90%;
  }
}
